body{
    background-image: linear-gradient(rgb(255, 208, 0), black);
    font-size: 150%
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.conversor{
    text-align: center;
    margin: 10px; 
    border: 5px;
}

.resultado{
    text-align: center;
}

input,select{
    border-radius: 5px;
    font-size: 70%;
}

select{
    border-radius: 2px;
}