body{
    background-image: linear-gradient(141deg,rgb(255, 208, 0), #6b5a0b);
    font-size: 150%;
    background-size: 400% 400%;
    font-family: 'Roboto', sans-serif;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}
    
@-webkit-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

.topo{
    display: flex;
    flex-direction: column;   
}

.topo h1{
    margin-top: -10px;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topo .botao{
    text-align: end;
}

.topo button{
    border-radius: 15px;
    background-color: black;
    color: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversor{
    text-align: center;
    margin: 10px; 
    border: 5px;
}

.resultado{
    text-align: center;
}

input,select{
    border-radius: 5px;
    font-size: 70%;
}

select{
    border-radius: 2px;
}